.intro_button {
    width: 220px;
    height: 50px;
    font-size: 20px;
    color: transparent;
    background-color: white(46, 46, 46);
    border-radius: 70px;
    margin-top: 125px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* opacity: 90%; */
    cursor: pointer;
}

.intro_button:hover {
    background-color: whitesmoke;
    /* opacity: 100%; */
}

.splash_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.splash_page_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    /* opacity: 90%; */
}

.footer_container {
    /* margin-top: 10px; */
    border-top: 1px solid gray;
    /* background-color: whitesmoke; */
    padding-top: 10px;

}

.footer_links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 10px;
    color: black;
}

.fa-brands {
    color: gray;
    font-size: 25px;
}

.fa-github:hover {
color: black;
}

.fa-linkedin:hover {
color: #0077b5
}

.name-li-footer {
    font-size: 25px;
}

.about_us > ul > li > div:first-child {
    font-weight: bold !important;
}
