.all_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, max-content));
    gap: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    justify-content: center;
    width: 100%;
}

.go_back_button {
    padding-left: 1rem;
    width: fit-content;
    background-image: linear-gradient(white gray);
    color: #007185;
    cursor: pointer;
}

.go_back_button:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

#item_form_img {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 8rem;
}

.item_tile > img {
    height: 18.75rem;
    width: 15rem;
    margin-bottom: 0.3125rem;
}



.item_tile {
    border: 1px solid #ccc;
    padding: 0.625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_tile:hover {
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1); /* 4px to rem */
}

.item_name {
    overflow-wrap: break-word;
    text-wrap: wrap;
    height: 2.5rem; /* 40px to rem */
    font-size: 1.0625rem; /* 17px to rem */
}

.item_brand {
    margin: 0.3125rem; /* 5px to rem */
    font-weight: 700;
}

.item_price_item_tile {
    font-size: 1.5625rem; /* 1.5625rem to rem */
    padding: 0.625rem; /* 0.625rem to rem */
}

.out_of_stock {
    color: red;
}

.almost_out_of_stock {
    color: rgb(133, 3, 3);
}

.almost_out_of_stock,
.good_stock,
.out_of_stock {
    height: 1.875rem; /* 30px to rem */
    display: flex;
    align-items: center;
}

.item_main {
    margin-top: 0.3125rem; /* 5px to rem */
}

.item_container {
    display: flex;
    flex-direction: row;
    width: 68.75rem; /* 1100px to rem */
    position: relative;
    left: 8.75rem; /* 140px to rem */
}

.item_container_name {
    display: flex;
    font-size: 1.5625rem; /* 1.5625rem to rem */
    color: rgb(80, 80, 80);
    gap: 1.5625rem; /* 1.5625rem to rem */
    align-items: center;
    /* justify-content: center; */
}

.fa-solid {
    color: red;
}

.fa-regular:hover {
    color: red;
}

.item_container > img {
    width: 23.75rem; /* 380px to rem */
    height: 29.6875rem; /* 475px to rem */
}

.item_profile_img {
    height: 2.5rem; /* 40px to rem */
    width: 2.5rem; /* 40px to rem */
    border-radius: 50%;
}

.user_review_profile {
    display: flex;
    gap: 0.3125rem; /* 5px to rem */
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.3125rem; /* 5px to rem */
}

.h2_reviews_text {
    padding-top: 0.3125rem; /* 5px to rem */
    border-top: 1px solid gray;
    text-align: center;
}

.add_to_cart {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 0.625rem; /* 0.625rem to rem */
}

.add_to_cart > select {
    width: 2.5rem; /* 40px to rem */
    height: 1.375rem; /* 22px to rem */
    border-radius: 0.3125rem; /* 5px to rem */
}

.add_to_cart > button {
    background-color: black;
    color: white;
    width: 14.375rem; /* 230px to rem */
    height: 2.1875rem; /* 35px to rem */
    /* border-radius: 5px; */
    border: none;
}

.add_to_cart > button:hover {
    background-image: linear-gradient(black, orange);
    cursor: pointer;
}

.item_description {
    padding: 0.625rem;
}

.item_review_rating {
    display: flex;
    padding-bottom: 0.625rem;
}

.item_review_text {
    padding-left: 0.625rem;
}

.item_container_price {
    font-size: 1.5625rem;
    font-weight: 600;
    padding-bottom: 0.625rem;
}

.user_review {
    padding-top: 0.625rem;
    padding-left: 4.0625rem;
    display: flex;
    flex-direction: column;
    /* left: 280px; */
    position: relative;
    width: 45.625rem;
    /* align-self: center; */
    /* border: 1px solid red; */
}

.link_to_see_user {
    cursor: pointer;
    /* border: 1px solid red; */
    width: fit-content;
    color: #007185;
}

.link_to_see_user:hover {
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    size: 1.5625rem;
}

.required {
    color: red;
}

.item_form {
    width: 28.125rem;
    /* gap: 5px; */
}

.image_placeholder_item {
    height: 13.75rem;
}

.delete_review_button {
    display: flex;
    border: 1px solid gray;
    /* border-radius: 0.625rem; */
    height: 1.8125rem;
    align-items: center;
    justify-content: center;
    width: 9.65625rem;
    cursor: pointer;
    color: black;
    /* Change the text color to contrast with the background */
    background-image: linear-gradient(white, orange);
    font-weight: bold;
    /* Make the text more prominent */
    transition: background-color 0.3s ease;
    /* Add a transition for a smoother hover effect */
}

.delete_review_button:hover {
    background-image: linear-gradient(white, rgb(255, 132, 0));
    /* Change the background color on hover */
}

.delete_review_button:active {
    color: black;
    background-image: linear-gradient(white, gray);
}

.item_review_buttons {
    display: flex;
    gap: 0.625rem;
    margin-top: 0.3125rem;
    /* align-items: center;
    justify-content: center; */
}

.cart_button {
    display: flex;
    width: fit-content;
    width: 10.625rem; /* 170px to rem */
    height: 1.875rem; /* 30px to rem */
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 0.3125rem; /* 5px to rem */
    cursor: pointer;
}

.cart_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem; /* 10px to rem */
    margin-top: 1.5625rem; /* 25px to rem */
    margin-bottom: 3.125rem; /* 50px to rem */
}

.individual_cart_item_container {
    width: 12.5rem; /* 200px to rem */
    height: 15.625rem; /* 250px to rem */
}

.individual_cart_item_container > img {
    width: 8.75rem; /* 140px to rem */
    height: 8.75rem; /* 140px to rem */
    object-fit: cover;
}

.review_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price_qty {
    display: flex;
    flex-direction: column;
}

.subtotal {
    text-align: center;
    margin-bottom: 0.3125rem; /* 5px to rem */
}

.user_item_change_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.4375rem; /* 7px to rem */
    /* margin-bottom: 3px; */
}

/* .qty {
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 1.5625rem;
    height: 1.5625rem;
    text-align: center; */

/* } */

.fa-trash,
.fa-edit {
    color: gray;
    display: flex;
    gap: 0.3125rem; /* 5px to rem */
    border: none;
    background-color: transparent;
    padding: 0px;
    font-size: 1.125rem; /* 18px to rem */
    cursor: pointer;
}

.fa-trash:hover,
.fa-edit:hover {
    color: black;
}

.icons_delete_update {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* margin-top: 1px; */
    margin-bottom: 0.75rem; /* 12px to rem */
}

.brand_name {
    display: flex;
    gap: 0.6875rem; /* 11px to rem */
    flex-direction: column;
}

.name_brand_price {
    display: flex;
    flex-direction: row;
    gap: 0.6875rem; /* 11px to rem */
}

/* .item_form_input::file-selector-button {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 140px;
    border: 1px solid gray;
    margin-top: 2px;
    background-color: white;
} */

.keep_item {
    background-color: orange;
    color: black;
}

.comment_form {
    padding: 0.9375rem; /* 15px to rem */
}

.item_form_input {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.input_create_item::file-selector-button {
    /* border: none !important; */
    color: inherit !important;
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    position: inherit !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
    width: 11.25rem !important; /* 180px to rem */
    margin-left: 0.625rem; /* 10px to rem */
    margin-bottom: 0.3125rem; /* 5px to rem */
    /* height: 1.5625rem; */
    border: 1px solid gray;
    margin-top: 2px;
    background-color: white;
}

.input_create_item::file-selector-button:hover {
    color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input_create_item {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 3.4375rem; /* 55px to rem */
    margin-bottom: 0.3125rem; /* 5px to rem */
}

.user_review_container {
    margin-bottom: 1.5625rem; /* 25px to rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem; /* 10px to rem */
    /* padding-left: 1.5625rem; */
}

.review_text_area {
    width: 12.5rem; /* 200px to rem */
    /* padding: 1.5625rem; */
    margin: 1.5625rem; /* 25px to rem */
}

.item_tile_outer {
    width: 24.7rem; /* 395.2px to rem */
}

.review_text {
    /* width: 50%; */
    border: 1px solid #ddd;
    border-radius: 0.25rem; /* 4px to rem */
    padding: 1.25rem; /* 20px to rem */
    margin-bottom: 0.9375rem; /* 15px to rem */
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1); /* 1px 3px to rem */
}

.stars_review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review_rating_div {
    display: flex;
    position: relative;
    left: 3%;
    margin-bottom: 0.3125rem; /* 5px to rem */
}

.loader_spinner_container {
    position: relative;
    top: 11.25rem; /* 180px to rem */
}

.countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    height: 34.375rem; /* 550px to rem */
}

.countdown > h2 {
    position: relative;
    top: 4.5rem; /* 72px to rem */
    left: 0.3125rem; /* 5px to rem */
}

.item_delete_update {
    display: flex;
    gap: 1.5625rem; /* 25px to rem */
    justify-content: flex-start;
    margin-top: 0.9375rem; /* 15px to rem */
}

.item_container_owner_buttons {
    display: flex;
    color: gray;
}

.item_container_owner_buttons:hover {
    color: black;
}

.all_items_container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px to rem */
}

.search_bar_component {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* position: relative; */
    /* z-index: 100; */
    border-radius: 5px;
}

/* .search_bar {
    width: 37.5rem; /* 600px to rem */
    /* height: 1.25rem; 20px to rem */
    /* display: flex;
    align-items: center;
}  */
*/

.search_bar_component {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* position: relative; */
    /* z-index: 100; */
    /* border-radius: 5px; */
}

/* .search_bar {
    width: 600px;
    height: 20px;
    display: flex;
    align-items: center;
} */

.search_terms {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 37.5rem;
    border: 1px solid gray;
    top: 3.0625rem;
    z-index: 1;
}

.search_term_img {
    width: 1.875rem;
    height: 2.5rem;
}

.empty_search_bar {
    display: none;
}

.search_term_result {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 0.625rem;
    z-index: 100;
}

.item_name_brand_search {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.search_term_result:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* .search_terms {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 37.5rem;
    border: 1px solid gray;
    top: 3.0625rem;
    z-index: 1;
} */

/* .search_term_img {
    width: 1.875rem;
    height: 2.5rem;
} */

/* .empty_search_bar {
    display: none;
} */

/* .search_term_result {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 0.625rem;
    z-index: 100;
}

.item_name_brand_search {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.search_term_result:hover {
    background-color: lightgray;
    cursor: pointer;
} */

.page_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0.625rem; */
    padding: 1.25rem 0; /* 20px to rem */
    position: relative;
    /* left: 40px; */
}

.page_buttons button {
    border: 1px solid #ddd;
    color: #111;
    background-color: #fff;
    padding: 0.625rem 0.9375rem; /* 10px 15px to rem */
    min-width: 2.1875rem; /* 35px to rem */
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.page_buttons button:hover:not(.disabled_selected_page, .disabled_previous_page, .disabled_next_page) {
    border-color: #888;
    cursor: pointer;
}

.page_buttons .disabled_selected_page,
.page_buttons .disabled_previous_page,
.page_buttons .disabled_next_page {
    border-color: #ddd;
    color: #888;
    background-color: whitesmoke;
}

.page_buttons .disabled_selected_page {
    font-weight: bold;
}

.items_per_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0.5rem; /* 8px to rem */
    left: 1.25rem; /* 20px to rem */
    /* border: 1px solid gray;
    position: relative;
    left: 20%;
    padding: 0.625rem 15px;
    border-radius: 0.625rem; */
}

.select_items_per_page {
    margin-left: 0.625rem; /* 10px to rem */
    border: none;
    /* width: 100%; */
    width: 9.375rem; /* 150px to rem */
    border: 1px solid gray;
    position: relative;
    /* left: 20%; */
    padding: 0.625rem 0.9375rem; /* 10px 15px to rem */
    border-radius: 0.625rem; /* 10px to rem */
    background-color: white;
}

.items_per_page > label {
    font-size: 0.75rem; /* 12px to rem */
    position: relative;
    background-color: white;
    top: 0.5rem; /* 8px to rem */
    z-index: 1;
    color: rgb(83, 82, 82);
    left: 0.75rem; /* 12px to rem */
}

.search_bar {
    width: 100%;
    height: 20px; /* 20px to rem */
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    /* Add this line */
    /* z-index: 1000; */
}

.search_bar:active,
.search_bar:focus {
    border: none;
    outline: none;
    /* Add this line */
}

.search_bar_glass {
    width: 37.5rem; /* 600px to rem */
    height: 1.5625rem; /* 25px to rem */
    display: flex;
    align-items: center;
    gap: 0.3125rem; /* 5px to rem */
    border: 1px solid black;
    border-radius: 0.3125rem; /* 5px to rem */
    padding-left: 0.625rem; /* 10px to rem */
    /* margin-left: 0.625rem; */
    background-color: white;
}

.fa-magnifying-glass {
    color: black;
    /* background-color: white; */
}

.checkbox_availability {
    border-radius: 0.3125rem; /* 5px to rem */
    background-color: white;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
}

.item_price_min_max_filter {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem; /* 25px to rem */
}

.item_price_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_price_each {
    display: flex;
    flex-direction: column;
}

.item_price_input_filter {
    border-radius: 0.625rem; /* 10px to rem */
    border: 1px solid gray;
    height: 1.5625rem; /* 25px to rem */
    padding-left: 0.9375rem; /* 15px to rem */
    font-size: 0.8125rem; /* 13px to rem */
    cursor: pointer;
}

.item_price_each > label {
    font-size: 0.75rem; /* 12px to rem */
    position: relative;
    width: fit-content;
    background-color: white;
    top: 0.5rem; /* 8px to rem */
    color: rgb(83, 82, 82);
    left: 0.75rem; /* 12px to rem */
    padding: 0.125rem; /* 2px to rem */
}

.item_brand_filter {
    border-radius: 0.625rem; /* 10px to rem */
    border: 1px solid gray;
    height: 1.8125rem; /* 29px to rem */
    cursor: pointer;
    width: 9.65625rem; /* 154.5px to rem */
}

.item_brand_filter_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.875rem; /* 14px to rem */
}

.availability_filter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem; /* 14px to rem */
}

.checkbox_availability {
    display: none;
}

.unchecked {
    display: flex;
    border: 1px solid gray;
    border-radius: 0.625rem; /* 10px to rem */
    height: 1.8125rem; /* 29px to rem */
    align-items: center;
    justify-content: center;
    width: 9.65625rem; /* 154.5px to rem */
    cursor: pointer;
}

.checked {
    display: flex;
    border: 1px solid gray;
    border-radius: 0.625rem; /* 10px to rem */
    height: 1.8125rem; /* 29px to rem */
    align-items: center;
    justify-content: center;
    width: 9.65625rem; /* 154.5px to rem */
    background-color: whitesmoke;
    color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.checked::before {
    content: "✔";
    margin-left: 0.3125rem; /* 5px to rem */
}

.items_and_filter_container {
    display: flex;
    justify-content: space-around;
    gap: 0.625rem; /* 10px to rem */
    margin: 0.625rem; /* 10px to rem */
}

/* Mobile */

@media (max-width: 600px) {
    .items_and_filter_container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
        gap: 2rem;
    }

    .item_price_min_max_filter {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .page_buttons {
        flex-direction: column;
        padding: 0.625rem 0; /* 10px to rem */
    }

    .page_buttons button {
        padding: 0.5rem 0.75rem; /* 8px 12px to rem */
        min-width: 1.875rem; /* 30px to rem */
        margin-bottom: 0.3125rem; /* 5px to rem */
    }

    .all_items {
        grid-template-columns: 1fr;
        padding-left: 0.5rem; /* 8px to rem */
        padding-right: 0.5rem; /* 8px to rem */
        width: 95vw;
    }

    .item_tile > img {
        height: 12rem; /* Adjusted to 160px */
        width: 8rem; /* Adjusted to 128px */
        object-fit: cover;
    }

    .item_tile_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1; /* Take up the remaining space */
    }

    .item_tile {
        display: flex;
        gap: 0.5rem; /* Adjust the gap as needed */
        padding: 0.5rem; /* 8px */
        width: 80vw;
        margin: 1rem;
    }

    .item_tile_outer {
        /* width: 90vw; */
        margin: 0 auto;
        text-align: center;
        
    }

    .item_name {
        overflow-wrap: break-word;
        text-wrap: wrap;
        height: 2rem; /* 32px */
        font-size: 1rem; /* 14px */
    }

    .item_brand {
        font-size: 1.2rem; /* 12px */
    }

    .item_price_item_tile {
        font-size: 1.4rem; /* 16px */
    }
}
