.all_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, max-content));
    gap: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    justify-content: center;
    width: 100%;
}

.go_back_button {
    padding-left: 10px;
    width: fit-content;
    background-image: linear-gradient(white gray);
    color: #007185;
    cursor: pointer;
}

.go_back_button:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

#item_form_img {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 8rem;
}

.item_tile>img {
    height: 300px;
    width: 240px;
    margin-bottom: 5px;
}



.item_tile {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.item_tile:hover {
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.item_name {
    height: 40px;
    font-size: 17px;
}

.item_brand {
    margin: 5px;
    font-weight: 700;
}

.item_price_item_tile {
    font-size: 25px;
    padding: 10px;
}

.out_of_stock {
    color: red;
}

.almost_out_of_stock {
    color: rgb(133, 3, 3)
}

.almost_out_of_stock,
.good_stock,
.out_of_stock {
    height: 30px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}
.item_main {
    margin-top: 5px;
}
.item_container {
    display: flex;
    flex-direction: row;
    width: 1100px;
    position: relative;
    left: 140px;
}

.item_container_name {
    display: flex;
    font-size: 25px;
    color: rgb(80, 80, 80);
    gap: 25px;
    align-items: center;
    /* justify-content: center; */
}


.fa-solid {
    color: red;
}

.fa-regular:hover {
    color: red;
}

.item_container>img {
    width: 380px;
    height: 475px;
}

.item_profile_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user_review_profile {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.h2_reviews_text {
    padding-top: 5px;
    border-top: 1px solid gray;
    text-align: center;
}

.add_to_cart {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
}

.add_to_cart>select {
    width: 40px;
    height: 22px;
    border-radius: 5px;
}

.add_to_cart>button {
    background-color: black;
    color: white;
    width: 230px;
    height: 35px;
    /* border-radius: 5px; */
    border: none;
}

.add_to_cart>button:hover {
    background-image: linear-gradient(black, orange);
    cursor: pointer;
}

.item_description {
    padding: 10px;
}

.item_review_rating {
    display: flex;
    padding-bottom: 10px;
}

.item_review_text {
    padding-left: 10px;
}

.item_container_price {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.user_review {
    padding-top: 10px;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    /* left: 280px; */
    position: relative;
    width: 730px;
    /* align-self: center; */
    /* border: 1px solid red; */
}

.link_to_see_user {
    cursor: pointer;
    /* border: 1px solid red; */
    width: fit-content;
    color: #007185;
}

.link_to_see_user:hover {
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    size: 25px;
}

.required {
    color: red;
}

.item_form {
    width: 450px;
    /* gap: 5px; */
}

.image_placeholder_item {
    height: 220px;
}

.delete_review_button {
    display: flex;
    border: 1px solid gray;
    /* border-radius: 10px; */
    height: 29px;
    align-items: center;
    justify-content: center;
    width: 154.5px;
    cursor: pointer;
    color: black;
    /* Change the text color to contrast with the background */
    background-image: linear-gradient(white, orange);
    font-weight: bold;
    /* Make the text more prominent */
    transition: background-color 0.3s ease;
    /* Add a transition for a smoother hover effect */
}

.delete_review_button:hover {
    background-image: linear-gradient(white, rgb(255, 132, 0));
    /* Change the background color on hover */
}

.delete_review_button:active {
    color: black;
    background-image: linear-gradient(white, gray);
}

.item_review_buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    /* align-items: center;
    justify-content: center; */
}

.cart_button {
    display: flex;
    width: fit-content;
    width: 170px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.cart_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.individual_cart_item_container {
    width: 200px;
    height: 250px;
}

.individual_cart_item_container>img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.item_name {
    overflow-wrap: break-word;
    text-wrap: wrap;
}

.review_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price_qty {
    display: flex;
    justify-content: space-between;
}

.subtotal {
    text-align: center;
    margin-bottom: 5px;
}

.user_item_change_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 7px;
    /* margin-bottom: 3px; */

}

/* .qty {
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 25px;
    height: 25px;
    text-align: center; */

/* } */

.fa-trash,
.fa-edit {
    color: gray;
    display: flex;
    gap: 5px;
    border: none;
    background-color: transparent;
    padding: 0px;
    font-size: 18px;
    cursor: pointer;
}

.fa-trash:hover,
.fa-edit:hover {
    color: black;
}

.icons_delete_update {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* margin-top: 1px; */
    margin-bottom: 12px;

}

.brand_name {
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.name_brand_price {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.price_qty {
    display: flex;
    flex-direction: column;
}

/* .item_form_input::file-selector-button {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 140px;
    border: 1px solid gray;
    margin-top: 2px;
    background-color: white;
} */

.keep_item {
    background-color: orange;
    color: black;
}

.comment_form {
    padding: 15px;
}

.item_form_input {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.input_create_item::file-selector-button {
    /* border: none !important; */
    color: inherit !important;
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    position: inherit !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
    width: 180px !important;
    margin-left: 10px;
    margin-bottom: 5px;
    /* height: 25px; */
    border: 1px solid gray;
    margin-top: 2px;
    background-color: white;
}

.input_create_item::file-selector-button:hover {
    color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input_create_item {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 55px;
    margin-bottom: 5px;
}

.user_review_container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* padding-left: 25px; */
}

.review_text_area {
    width: 200px;
    /* padding: 25px; */
    margin: 25px;
}

.item_tile_outer {
    width: 395.2px;
}

.review_text {
    /* width: 50%; */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.stars_review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review_rating_div {
    display: flex;
    position: relative;
    left: 3%;
    margin-bottom: 5px;
}

.loader_spinner_container {
    position: relative;
    top: 180px;
}

.countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    height: 550px;
}

.countdown>h2 {
    position: relative;
    top: 72px;
    left: 5px;
}

.item_delete_update {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    margin-top: 15px;
}

.item_container_owner_buttons {
    display: flex;
    color: gray;
}

.item_container_owner_buttons:hover {
    color: black;
}

.all_items_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search_bar_component {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* position: relative; */
    /* z-index: 100; */
    /* border-radius: 5px; */
}

/* .search_bar {
    width: 600px;
    height: 20px;
    display: flex;
    align-items: center;
} */

.search_terms {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 600px;
    border: 1px solid gray;
    top: 49px;
    z-index: 1;
}

.search_term_img {
    width: 30px;
    height: 40px;
}

.empty_search_bar {
    display: none;
}

.search_term_result {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    z-index: 100;
}

.item_name_brand_search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search_term_result:hover {
    background-color: lightgray;
    cursor: pointer;
}

.page_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    padding: 20px 0;
    position: relative;
    /* left: 40px; */
}

.page_buttons button {
    border: 1px solid #ddd;
    color: #111;
    background-color: #fff;
    padding: 10px 15px;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.page_buttons button:hover:not(.disabled_selected_page, .disabled_previous_page, .disabled_next_page) {
    border-color: #888;
    cursor: pointer;
}

.page_buttons .disabled_selected_page,
.page_buttons .disabled_previous_page,
.page_buttons .disabled_next_page {
    border-color: #ddd;
    color: #888;
    background-color: whitesmoke;
}

.page_buttons .disabled_selected_page {
    font-weight: bold;
}

.items_per_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 8px;
    left: 20%;
    /* border: 1px solid gray;
    position: relative;
    left: 20%;
    padding: 10px 15px;
    border-radius: 10px; */
}

.select_items_per_page {
    margin-left: 10px;
    border: none;
    /* width: 100%; */
    width: 150px;
    border: 1px solid gray;
    position: relative;
    /* left: 20%; */
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
}

.items_per_page>label {
    font-size: 12px;
    position: relative;
    background-color: white;
    top: 8px;
    z-index: 1;
    color: rgb(83, 82, 82);
    left: 12px;
}


.search_bar {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    /* Add this line */
    /* z-index: 1000; */
}

.search_bar:active,
.search_bar:focus {
    border: none;
    outline: none;
    /* Add this line */
}

.search_bar_glass {
    width: 600px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    /* margin-left: 10px; */
    background-color: white;
}

.fa-magnifying-glass {
    color: black;
    /* background-color: white; */
}

.checkbox_availability {
    border-radius: 5px;
    background-color: white;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
}

.item_price_min_max_filter {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item_price_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_price_each {
    display: flex;
    flex-direction: column;
}

.item_price_input_filter {
    border-radius: 10px;
    border: 1px solid gray;
    height: 25px;
    padding-left: 15px;
    font-size: 13px;
    cursor: pointer;
}

.item_price_each>label {
    font-size: 12px;
    position: relative;
    width: fit-content;
    background-color: white;
    top: 8px;
    color: rgb(83, 82, 82);
    left: 12px;
    padding: 2px;
}

.item_brand_filter {
    border-radius: 10px;
    border: 1px solid gray;
    height: 29px;
    cursor: pointer;
    width: 154.5px;
}

.item_brand_filter_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.availability_filter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.checkbox_availability {
    display: none;
}

.unchecked {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    height: 29px;
    align-items: center;
    justify-content: center;
    width: 154.5px;
    cursor: pointer;
}

.checked {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    height: 29px;
    align-items: center;
    justify-content: center;
    width: 154.5px;
    background-color: whitesmoke;
    color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.checked::before {
    content: "✔";
    margin-left: 5px;
}

.items_and_filter_container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
}

/* Mobile */

@media (max-width: 600px) {
    .items_and_filter_container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
        gap: 2rem;
    }

    .item_price_min_max_filter {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .page_buttons {
        flex-direction: column;
        padding: 10px 0;
    }

    .page_buttons button {
        padding: 8px 12px;
        min-width: 30px;
        margin-bottom: 5px;
    }

    .all_items {
        grid-template-columns: 1fr;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .item_tile > img {
        height: 200px;
        width: 160px;
    }

    .item_tile {
        padding: 8px;
    }
}
